
.box{
    background-color: blue;
}

div {
    background-color: lightskyblue;
    width: auto;
    border: 15px solid green;
    padding: 15px;
    margin: 20px;
}

.cat img {
    max-width: 100%;
    height: auto;
    margin: 5px;
}