<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="../static/main.js" defer></script>
    <link rel="stylesheet" href="../static/main.css">
</head>
<h1>Welcome to the Jungle!</h1>
<body>
    <div class="style" id="box" onclick="changeColor(event)">Click me to change color</div>
    <div class="style" id="circle" onmouseover="changeTextColor(event)" onmouseout="revertTextColor(event)">Change the text color<br>by hovering over me!</div>
    <div class="style" id="wheel" onclick="changeText(event)">Make me bigger by clicking me!</div>
    <div class="lorem" id="lorem" onclick="addLorem(event)">Want some Lorem Ipsum? Click me!</div>
    <div class="cat" id="cat" onclick="getCat(event)">Here's a cat if you click!</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

</html>
