<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="../static/main.js" defer></script>
    <link rel="stylesheet" href="../static/main.css">

    <title>Your Information</title>
</head>

<body class="container justify-content-center align-items-center bg-info">
    <h1>Welcome!</h1>
    <h3>Please enter your information below:</h3>
    <div class="row my-5 mx-2">
        <h3 class="text-center">Update your records!</h3>
        <form class="row g-3 p-4 border rounded shadow bg-light" onsubmit="handleGetData(event)">
            
            <label for="name" class="form-label">Please enter your name:</label>
            <input id="name" name="name" type="text" class="form-control" autocomplete="true" required="true"><br>

            <label for="formemail">Enter your email:</label>
            <input id="email" name="email" type="email" class="form-control" autocomplete="true" required="true"><br>

            <label for="message">Your message to us:</label><br>
            <textarea id="message" name="message" col="35" row="4" class="form-control" autocomplete="true" required="true"></textarea>

            <div class="col-6">
                <button type="submit" class="btn btn-info" id="add">Submit</button>
            </div>

        </form>
    </div>
    <!-- Place to Display Users in the Directory -->
    <div class="row g-3 user-display">
        <!-- Cards go here! -->
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>

</html>
